---
# Source: secret-operator/templates/daemonset.yaml
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: daemonset
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: secret-operator
    app.kubernetes.io/instance: controller-manager
    app.kubernetes.io/component: csi-driver
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      app.kubernetes.io/name: secret-operator
      app.kubernetes.io/component: csi-driver
  template:
    metadata:
      labels:
        control-plane: controller-manager
        app.kubernetes.io/name: secret-operator
        app.kubernetes.io/component: csi-driver
    spec:
      serviceAccountName: controller-manager
      securityContext:
        {}
      containers:
        - name: secret-operator
          securityContext:
            privileged: true
            runAsUser: 0
          image: "csi-driver:latest"
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 128Mi
          env:
            - name: ADDRESS
              value: unix:///csi/csi.sock
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
          args:
            - "-endpoint=$(ADDRESS)"
            - "-nodeid=$(NODE_NAME)"
          volumeMounts:
            - name: plugin-dir
              mountPath: /csi
            - name: mountpoint-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: Bidirectional
        - name: csi-provisioner
          image: "registry.k8s.io/sig-storage/csi-provisioner:v5.1.0"
          imagePullPolicy: IfNotPresent
          resources:

            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 128Mi
          env:
            - name: ADDRESS
              value: unix:///csi/csi.sock
          args:
            - --csi-address=$(ADDRESS)
            - --feature-gates=Topology=true
            - --extra-create-metadata
          volumeMounts:
            - name: plugin-dir
              mountPath: /csi
        - name: node-driver-registrar
          image: "registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.12.0"
          imagePullPolicy: IfNotPresent
          resources:

            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 128Mi
          env:
            - name: ADDRESS
              value: unix:///csi/csi.sock
            - name: DRIVER_REG_SOCK_PATH
              value: /var/lib/kubelet/plugins/secrets.kubedoop.dev/csi.sock
          args:
            - --csi-address=$(ADDRESS)
            - --kubelet-registration-path=$(DRIVER_REG_SOCK_PATH)
          volumeMounts:
            - name: registration-dir
              mountPath: /registration
            - name: plugin-dir
              mountPath: /csi
        - name: liveness-probe
          image: "registry.k8s.io/sig-storage/livenessprobe:v2.14.0"
          imagePullPolicy: IfNotPresent
          env:
            - name: ADDRESS
              value: unix:///csi/csi.sock
          args:
            - --csi-address=$(ADDRESS)
            - --health-port=9808
          ports:
            - containerPort: 9808
              name: healthz
          volumeMounts:
            - name: plugin-dir
              mountPath: /csi
      volumes:
        - name: registration-dir
          hostPath:
            # node-driver-registrar appends a driver-unique filename to this path to avoid conflicts
            path: /var/lib/kubelet/plugins_registry
        - name: plugin-dir
          hostPath:
            type: DirectoryOrCreate
            path: /var/lib/kubelet/plugins/secrets.kubedoop.dev/
        - name: mountpoint-dir
          hostPath:
            type: DirectoryOrCreate
            path: /var/lib/kubelet/pods/
