apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: csi-node
  labels:
    app.kubernetes.io/name: secret-operator
    app.kubernetes.io/instance: secret-operator
    app.kubernetes.io/component: csi-node
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: secret-operator
      app.kubernetes.io/instance: secret-operator
      app.kubernetes.io/component: csi-node
  template:
    metadata:
      labels:
        app.kubernetes.io/name: secret-operator
        app.kubernetes.io/instance: secret-operator
        app.kubernetes.io/component: csi-node
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: controller-manager
      containers:
        - name: csi-node
          image: "csi-plugin:latest"
          imagePullPolicy: IfNotPresent
          env:
            - name: ADDRESS
              value: unix:///csi/csi.sock
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
          args:
            - --health-probe-bind-address=:8081
            - --endpoint=$(ADDRESS)
            - --nodeid=$(NODE_NAME)
            - --zap-log-level=2
          resources:
            limits:
              cpu: 512m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          securityContext:
            runAsUser: 0
            privileged: true  # When mount with Bidirectional propagation, the container must provide privileged access
            allowPrivilegeEscalation: true
            capabilities:
              add: ["SYS_ADMIN"]
              drop: ["ALL"]
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 10
            timeoutSeconds: 3
            periodSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            timeoutSeconds: 3
            periodSeconds: 5
            failureThreshold: 3
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: mountpoint-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: Bidirectional
        - name: node-driver-registrar
          image: "registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.12.0"
          imagePullPolicy: IfNotPresent
          env:
            - name: ADDRESS
              value: unix:///csi/csi.sock
            - name: DRIVER_REG_SOCK_PATH
              value: /var/lib/kubelet/plugins/secrets.kubedoop.dev/csi.sock
          args:
            - --csi-address=$(ADDRESS)
            - --kubelet-registration-path=$(DRIVER_REG_SOCK_PATH)
            - --v=2
          resources:
            limits:
              cpu: 512m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: registration-dir
              mountPath: /registration
            - name: socket-dir
              mountPath: /csi
        - name: liveness-probe
          image: "registry.k8s.io/sig-storage/livenessprobe:v2.14.0"
          imagePullPolicy: IfNotPresent
          env:
            - name: ADDRESS
              value: unix:///csi/csi.sock
          args:
            - --csi-address=$(ADDRESS)
            - --health-port=9808
            - --probe-timeout=3s
            - --v=2
          ports:
            - containerPort: 9808
              name: healthz
          resources:
            limits:
              cpu: 128m
              memory: 64Mi
            requests:
              cpu: 10m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          livenessProbe:
            httpGet:
              path: /healthz
              port: 9808
            initialDelaySeconds: 10
            periodSeconds: 20
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /healthz
              port: 9808
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
      volumes:
        - name: registration-dir
          hostPath:
            # node-driver-registrar appends a driver-unique filename to this path to avoid conflicts
            path: /var/lib/kubelet/plugins_registry
        - name: socket-dir
          hostPath:
            type: DirectoryOrCreate
            path: /var/lib/kubelet/plugins/secrets.kubedoop.dev/
        - name: mountpoint-dir
          hostPath:
            type: DirectoryOrCreate
            path: /var/lib/kubelet/pods/
